
<div class="row" >
    <h1>Educaccion</h1>
    <div class="col lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Educaccion 1</h1>-<h3>years</h3>
            </li>
            <p>loremadasdadsadffsa</p>
        </ul>
        <ul>
            <li>
                <h1>Educacion 2</h1>-<h3>years</h3>
            </li>
            <p>loremadasdadsadffsa</p>
        </ul>
        <ul>
            <li>
                <h1>Educacion 3</h1>-<h3>years</h3>
            </li>
            <p>loremadasdadsadffsa</p>
        </ul>
    </div>

</div>
